.log{
    background-color: rgb(236, 242, 248);
    position: fixed;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .sign{
    margin:0 1% 1% 1%;
    display: flex;
    padding-top: 1%;
    }
    .home{
    position: fixed;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(248, 252, 248);
    z-index: 2;
    }
    .logo{
        display: flex;
        margin-left: 2%;
    }
    .logo h1{
        margin-top: 0%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(0, 111, 149);
    }
    .logo h2{
        margin: 5% 0% 0% 5%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(2, 18, 23);
    }
    .signin{
        display: flex;
        width: 70%;
        margin: 0 0 0 5%;
    }
    .signin button{
        height: 75%;
        width: 25%;
        font-size: large;
        margin: 0.5% 5% 0% 2%;
        border: none;
        border-bottom: 2px;
        cursor: pointer;
        border-radius: 10px;
    }
    .signin button a{
        text-decoration: none;
        color: #060606;
    }
    .line{
        margin-top: -1%;
        border: 1px solid;
        color: rgb(238, 121, 3);
    }  
    .search{
        margin: 0.5% 0 0 10%;
        width: 150%;
    }
    .search form{
        display: flex;
        
    }
    .search input[type=text]{
        border-radius:10px;
        border: rgb(10, 8, 8);
        width: 150%;
        height: 35px;
        border: solid black 1px;
    }    
    .search button{
        color: #060606;
        padding: 5px 10px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        margin: 0 0 0 2%;
        border-radius: 5px;
    }
    .bar{
        margin: 1% 0 0 0;
        padding-bottom: 0.5%;
    }
    .bar ul{
        display: flex;
        list-style: none;
    }
    .bar nav{
        margin: 0 0 0 1%;
    }
    .bar li{
        margin: 0 0 0 2%;
        font-size: large;
        font-family:'Times New Roman', Times, serif;
    }
    .bar nav li a{
        text-decoration: none;
        color: rgb(0, 4, 7);
        font-size:large;
        padding: 10px;
        border-radius: 2px;
    }
    .bar a:hover{
        color: rgb(245, 245, 245);
        background-color: black;
    }
    a{
      text-decoration: none;
    }
    .picture{
        display: flex;
        flex-wrap: wrap;
        margin: 2% 1% 0 2%;
    }
    .picture img{
        margin: 0.7%;
        border: solid black 3px;
        border-radius: 3px;
      }